/* css reset */

*{
    box-sizing: border-box;
}

/* color variables */

html {
    --primary-color: #C3BEBA;
    --secondary-color: #575353;
    --background-color: #ECECEC;
    --font-color: #575757;
}

/* global styles */

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    margin: 0;
}

hr {
    border: 1.5px solid var(--secondary-color);
    margin: 1rem auto;
    width: 100%;
    border-radius: 2px;
}

button {
    border: none;
    color: white;
}

button:hover {
    background-color: #f04410;
}

button:active {
    background-color: #d13e0a;
}   

select {
    border: none;
    height: 2rem;
    border-radius: 2rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
    background-color: var(--background-color);
    color: var(--font-color);
}


/* common */

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

.align-left {
    margin: 1rem 0;
}

.hidden {
    display: none;
}

.large {
    font-size: 1.7rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-left: auto;
}

.small {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: auto;
}

.sticky {
    position: sticky;
    bottom: 0;
}

.orange {
    background-color: #FE5E2C;
}
/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    min-width: 220px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 2rem 1.5rem;
    border-radius: 0 40px 40px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FE5E2C;
    margin-bottom: 1rem;
}

/* todo container */

.todo-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    padding: 1.25rem 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--font-color);
}

/* task */

.task-container {
    width: max(450px, 100%);
    background: white;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 0;
    border-radius: 24px;
    margin-top: 1rem;
    position: relative;
}

.task-container-checked::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: gray;
    opacity: 60%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.task-colour {
    width: 40px;
    margin: -1rem 0;
    background-color: #FE5E2C;
    border-radius: 24px 0 0 24px;
}

.task-checkbox {
    appearance: none;
    position: relative;
    background-color: white;
    border: 3px solid #FE5E2C;
    margin: auto 1rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.task-checkbox:checked {
    background-color: #FE5E2C;
}

.task-due-date {
    font-size: 0.8rem;
    color: var(--secondary-color);
    margin-top: 0.5rem;
}

.task-description {
    margin: 1rem 0.2rem;
    font-size: 0.9rem;
}

.button-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.delete-button {
    margin-left: auto;
    margin-right: 0.5rem;
    width: 15px;
    height: auot;
    opacity: 75%;
}

.delete-button:hover {
    opacity: 100%;
}

/* project */

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.75rem 0;
}

.default {
    justify-content: flex-start;
}

.default:last-child {
    margin-bottom: 2rem;
}

.project-name {
    font-size: 1rem;
    color: var(--font-color);
    cursor: default;
}

.project-name:hover {
    color: #777777;
}

.project {
    width: 12px;
    height: auto;
    color: var(--font-color);
}

.project-icon {
    width: 18px;
    margin-right: 1rem;
    margin-bottom: 0.25rem;
}

.project-colour {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #FE5E2C;
}


/* modal */

.modal-container{
    width: 540px;
    background: white;
    border: 3px var(--secondary-color) solid;;
    border-radius: 1.5rem;;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.modal-form>h1 {
    font-size: 1.2rem;
    color: var(--font-color);
    margin-bottom: 1rem;
}

.modal-form>input, .input-container>input {
    border: none;
    background-color: var(--background-color);
    margin: 0.5rem 0;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.modal-form>input:focus, .input-container>input:focus {
    outline: #FE5E2C 1px solid;
}

.input-container {
    display: flex;
    width: 100%;
}

.input-container>input:first-child{
    width: 100%;
    margin-right: 1rem;
}

.modal-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 1rem 0;
}
.modal-buttons>button {
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #FE5E2C;
    color: white;
    margin-left: 1rem;
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}
